<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNqSeQpU8dHCVPJzXkR1m2luSDgwNURek</string>
	<key>GCM_SENDER_ID</key>
	<string>335599345307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irfan.lcos.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lcos-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lcos-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335599345307:ios:afccce7ad3034c985c303e</string>
</dict>
</plist>